<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn_vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
     
<!-- --------------------------Экземпляр Vue------------------------- -->

<div id="app">
    <p>{{ foo }}</p>
    <!-- мы теперь не можем обновить `foo`! -->
    <button v-on:click="foo = 'baz'">Изменить</button>
  </div>

<!-- ---------------------------------------------------------------- -->

<div id="example">
    <p>{{ a }}</p>
    <!-- мы теперь не можем обновить `foo`! -->
    <button v-on:click="a = 'baz'">Изменить</button>
  </div>

<!-- ---------------------------------------------------------------- -->

<div id="test_example">
    <p>{{ test }}</p>
    <!-- мы теперь не можем обновить `foo`! -->
    <button v-on:click="test = 'its changed'">Изменить</button>
  </div>

<!-- ---------------------------хук created------------------------- -->


























      <script src="main_ex.js"></script>
</body>
</html>