<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn_vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
      </div>
<!-- ------------------------------------------------------------------- -->

<div id="app-2">
    <span v-bind:title="message">
      Наведи на меня курсор на пару секунд,
      чтобы увидеть динамически связанное значение title!
    </span>
</div>

<!-- ------------------------------------------------------------------- -->

<div id="app-3">
    <span v-if="seen">Сейчас меня видно</span>
</div>

<!-- ------------------------------------------------------------------- -->

<div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
</div>

<!-- ------------------------------------------------------------------- -->

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Перевернуть сообщение</button>
</div>

<!-- ------------------------------------------------------------------- -->

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

<!-- ------------------------------------------------------------------- -->

  <ol>
    <!-- Создаём экземпляр компонента todo-item -->
    <todo-item></todo-item>
  </ol>

<!-- ------------------------------------------------------------------- -->
<!-- 
<div id="app-7">
    <ol> -->
      <!--
        Теперь мы можем передать каждому компоненту todo-item объект
        с информацией о задаче, который будет динамически меняться.
        Мы также определяем для каждого компонента "key",
        значение которого мы разберём далее в руководстве.
      -->
      <!-- <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>



  <div id="app">
    <app-nav></app-nav>
    <app-view>
      <app-sidebar></app-sidebar>
      <app-content></app-content>
    </app-view>
  </div> -->

<!-- --------------------------Экземпляр Vue------------------------- -->
























      <script src="main.js"></script>
</body>
</html>