<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn_vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div>
    <p style="color: rgb(95, 255, 47); font-size: 30px; 
    background: black; width: 75px;">VUE</p>
</div>
  <!-- все что в div - система vue, снаружи не будет работать
   
  -->
    <!-- <div id="app"> 
        Hello {{ x + y }}
        {{ x * 'asdsad' }}
        <hr>
        {{ list.join('_')}}
        {{ info }}
       
    </div>  -->

<!-- --------------------------------app2-------------------------------- -->

  <!-- <hr />
    <div id="app-2">
        {{ className }}
        <span 
            alt="example"
            v-bind:title="className"
            :data-example="value*200 || 'default'"
            v-bind:style="appearence  + 'font-size:' + value*3 + 'px'">
            HELLO!!
        </span>
        <span 
            :style="appearence + 'font-size:' + value + 'px'"
            :title="appearence">
            span inner text
        </span>
    </div>
    <hr /> -->

<!-- ---------------------------------app3------------------------------- -->

    <!-- <div id="app-3">
        <span v-if="seen">Сейчас меня видно {{info}}</span>
    </div> -->

<!-- ---------------------------------app4------------------------------- -->

<!--<div id="app-4">-->
<!--&lt;!&ndash; перебор массива &ndash;&gt;-->
<!--  <ol>    -->
<!--      <li v-for="(item,index) in list" v-if="item.text">-->
<!--        <a href=""></a>-->
<!--          {{index}} {{ item.text }}-->
<!--      </li>-->
<!--     -->
<!--  </ol>-->
<!--  <hr>-->
<!--  &lt;!&ndash; перебор объекта   &ndash;&gt;-->
<!--  <ol>    -->
<!--      <li v-for="(value, key) in info" >-->
<!--          {{ key }}: {{ value }}-->
<!--      </li>-->
<!--  </ol>-->
<!--  <hr>-->
<!--  <ol>-->
<!--    <li v-for="(value, key) in renat_family">-->
<!--      {{ key }}: {{ value }}-->
<!--    </li>-->
<!--  </ol>-->

<!--</div>-->

<!-- ---------------------------------app5------------------------------- -->

<!--    <div id="app-5">-->
<!--        <span>-->
<!--            {{ calculate(8) }}-->
<!--            <span v-html="calculate(8)"></span>-->
<!--            counter: {{counter}}-->
<!--        </span>-->


<!--        <button-->
<!--            v-for="elem in list"-->
<!--            @dblclick="onClick($event, elem)">-->
<!--            Click-->
<!--        </button>-->

<!--        counter: {{counter}}-->
<!--        <button @click="onClick">-->
<!--            Click-->
<!--        </button>-->
<!--        <div-->
<!--            class="test"-->
<!--            :class="{'active': counter > 10}"-->
<!--        >-->
<!--&lt;!&ndash;            доавляется класс active если счетчик больше 10&ndash;&gt;-->
<!--        </div>-->
<!--        <button @click="addRandClass">Add random class</button>-->
<!--    </div>-->
<!--    <hr>-->

  <!-- ---------------------------------app6------------------------------- -->

<!--  <div id="app-6">-->
<!--      <p v-if="switcher">{{ message }}</p>-->
<!--      <input @input="onInput" :value="message">-->
<!--      switcher: {{ switcher }}-->
<!--&lt;!&ndash;   Event oriented: <input @input="onInput" :value="message">&ndash;&gt;-->
<!--   <hr>-->
<!--   Two-way binding: <input v-model="message">-->
<!--   <input type="checkbox" v-model="switcher">-->
<!--</div>-->

  <!-- ---------------------------------LIFE CYCLE------------------------------- -->

<!--  <div id="app">-->
<!--    {{ x }}-->
<!--    {{ y + x }}-->
<!--    getCustomValue: {{ getCustomValue() }}-->
<!--  </div>-->

<!--  <div class="app">-->
<!--      <input type="text" v-model="exampleApp">-->
<!--      <front-end-->
<!--          :example="exampleApp"-->
<!--          :numbers="list"-->
<!--      >-->
<!--      </front-end>-->
<!--      List: {{list}}-->

  <!-- ---------------------------------COMPONENT------------------------------- -->

<div class="app">
<!--    <input type="text" v-model="testApp">-->
<!--    <front-end-->
<!--            :test="testApp"-->
<!--            :numbers="list"-->
<!--        >-->

<!--    </front-end>-->
<!--    List: {{list}}-->
    <header>
    <front-button
            type="primary"
            text="Add to cart"
            :on-click="onAddtoCart"
    ></front-button>
    </header>
    <footer>
    <front-button
            type="primary"
            text="Front btn click"
            :on-click="onClickFrontBtnPrimary"
    ></front-button>
    </footer>
<!--    <front-button type="secondary" text="SignIn"></front-button>-->
</div>


      <script src="main_c.js"></script>
  <style>
      .button{
          padding: 10px;
          outline: none;
      }
      .button.primary{
          background-color: greenyellow;
          color: #000000;
      }
      .button.secondary{
          background-color: aquamarine;
          color: #000000;
      }

  </style>
</body>
</html>