body, p {
    margin: 0;
    background-color: #E5E5E5;
}
input{
    width: 254px;
    height: 40px;
    box-sizing: border-box;
    color: #8E8E8E;
}
textarea{
    width: 538px;
    height: 40px;
    resize: none;
}
input:hover{
    color: #3498DB;

}
label{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;

}
button{
    margin: 10px;
    background-color: #3498DB;
    width: 90px;
    height: 27px;
    border: none;

}
.item_in span{
    text-transform: uppercase;
    font-size: 11px;
}
.send_button{
    background-color: #3498DB;
    color: #FFFFFF;
    font-size: 10px;

}
.content-center {
    width: 1150px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.title {
    background-color: #FFFFFF;
    font-size: 24px;
    color: #191919;
    font-weight: bold;
    margin: 10px 20px;

}
.item_in{
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.contacts_in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form_map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.map{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form_contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    margin-left: 10px;

}
.phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;

}
.email {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.phone_email {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}
.contact_text{
    font-size: 12px;
    color: #8E8E8E;
    background-color: #FFFFFF;
    margin-left: 5px;

}
.remember{
    width: 15px;
    height: 15px;
    margin: 10px;
}
.check_radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.check{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.remember_text {
    font-size: 12px;
    color: black;
    background-color: #FFFFFF;
}
.remember_text_answer{
    margin-left: 10px;
    font-size: 12px;
    color: black;
    background-color: #FFFFFF;
}
.answer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map_pic{
    margin-left: 10px;
}