body, p {
    margin: 0;
   }
.header{
    width: 100%;
    height: 500px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(pic/Vector.svg);
    background-size: cover;
}


.header_in{
    width: 1150px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.header_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.b_w_pic{
    width: 114px;
    height: 30px;
}
.list_pic{
    width: 45px;
    height: 19px;
}
.black_white{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 410px;
}
.black_white_pic{
    width: 1008px;
    height: 164px;
}

.bw_span_top{
    width: 184px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    left: 850px;
    top: 0px;

}
.bw_span_bottom_left{
    width: 184px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    left: 180px;
    top: 440px;
}
.bw_span_bottom_right{
    width: 100px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0px;
    top: 440px;
}
.bw_span_left_top{
    width: 1px;
    height: 90px;
    background-color: #FFFFFF;
    position: absolute;
    left: 1px;
    top: 130px;
}
.bw_span_left_bottom{
    width: 1px;
    height: 40px;
    background-color: #FFFFFF;
    position: absolute;
    left: 1px;
    top: 360px;
}
.bw_span_right{
    width: 1px;
    height: 30px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0px;
    top: 94px;
}

.about_us{
    width: 100%;
    height: 470px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_us_in{
    width: 1150px;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.as_span_left_top{
    width: 1px;
    height: 79px;
    background-color: #000000;
    position: absolute;
    left: 1px;
    top: 150px;
    transform: rotate(90deg);
}
.as_span_left_bottom{
    width: 1px;
    height: 120px;
    background-color: #000000;
    position: absolute;
    left: 1px;
    top: 300px;
}
.as_span_right_top{
    width: 1px;
    height: 137px;
    background-color: #000000;
    position: absolute;
    right: 0px;
    top: -20px;
    z-index: 2;
}
.as_span_right_bottom{
    width: 1px;
    height: 190px;
    background-color: #000000;
    position: absolute;
    right: 50px;
    top: 180px;
    transform: rotate(90deg);
    }


.about_us_in_romb{
    height: 263px;
    width: 263px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 200px;
    width: 200px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rombus {
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    transform: rotate(45deg);
}
.about_us_in_text{
    margin-left: 100px;
}
.about_us_in_text_title{
    font-size: 26px;
    color: #000000;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-family: Particle;


}
.about_us_in_text_main{
    font-size: 16px;
    color: #8B8B8B;
    font-family: Lato;


}
.about_us_pic{
    position: absolute;
    bottom: 0;
    right: 0;
}

.advantages_or_features{
     width: 100%;
     height: 444px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(pic/spider.svg);
    background-size: cover;
 }
.advantages_or_features_in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 1150px;
    height: 250px;
}
.advantages_or_features_text{
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;

}
.advantages_or_features_items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.item_text{
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 180px;
}

.main_tarif_plans{
    width: 100%;
    height: 700px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_title{
    margin-bottom: 50px;
    margin-top: 100px;
}
.main_title_text{
    font-size: 30px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;

}
.main_tarif_plans_in{
    width: 1150px;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.mtp_span_left_top{
    width: 1px;
    height: 111px;
    background-color: #000000;
    position: absolute;
    left: 0px;
    top: -16px;
}
.mtp_span_left_bottom{
    width: 137px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    left: -66px;
    top: 300px;
}
.mtp_span_right{
    width: 192px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    right: -142px;
    top: 512px;
}
.main_items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main_item{
    background-color: #000000;
    width: 362px;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.main_item_title{
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;


}
.main_item_text{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.5;
}
.main_item_pic{
    width: 78px;
    height: 85px;
    margin-top: 20px;
}
.main_item_end{
    font-size: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.item_price{
    position: absolute;
    top: 15px;
    left: 25px;
}
.item_span{
    width: 362px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 0px;
    top: 350px;
}
.tarif_plan{
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact_us{
    width: 100%;
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.contact_us_text{
    color: #FFFFFF;

}
.contact_us_title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.contact_us_in{
    width: 1150px;
    height: 380px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.form_map{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.form{
    width: 48%;
}
.form_text{
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 25px;
}
label span{
    color: #FFFFFF;
    font-size: 16px;
}
textarea{
    resize: none;
}
.contact_form_name_phone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact_form_email_massage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.send{
    width: 263px;
    height: 48px;
    background-color: #000000;
    margin-top: 25px;

}
.send_text{
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.name_phone{
    width: 48%;
}
.name_phone_input{
    width: 100%;
}
.email_input{
    width: 100%;
}
.email{
    width: 100%;
}
.send{
    width: 263px;
    height: 48px;
    border: solid 2px #ffffff;
}
.send:hover{
    cursor: pointer;
    background-color: green;


}
.message{
    width: 100%;


}
.message_in{
    width: 100%;
    max-height: 19px;
    color: #ffffff;
    font-size: 16px;
}
input::placeholder{
    color: #ffffff;
    font-size: 16px;


}
input{
    color: #ffffff;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: solid 1px #ffffff;
    margin-bottom: 34px;
    outline: none;
}
textarea{
    color: #ffffff;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: solid 1px #ffffff;
    outline: none;
}
textarea::placeholder{
    color: #ffffff;
    font-size: 16px;
}