body, p {
    margin: 0;
}
.js_out{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 10px;

}
.js{
    font-size: 50px;
    font-weight: bold;
    color: red;
}
.js1{
    font-size: 15px;
    font-weight: bold;
    color: red;
}

