body, p {
    margin: 0;
    background: #E5E5E5;
   }
.it_school{
    position: relative;
    display: flex;
    flex-direction: column;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
.header{
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.header_logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}
.header_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}
.header_list_item{
    font-size: 16px;
    color: #242D3C;
}
.start_school_out{
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}
.start_school_in{
    width: 1170px;
    /*width: 1600px;*/
    position: relative;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /*left: 420px;*/

}
.start_school{
    width: 1545px;
    height: 531px;
    position: relative;
    left: 0px;
    background: #E5E5E5;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;


}
.start_school_image{
    display: flex;
    justify-content: right;
}
.start_school_text{
    width: 600px;
}
.start_school_title_first{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 25px;
    background: linear-gradient(172.71deg, #3672F8 2.98%, #B01EFF 103.2%);
    -webkit-background-clip: text;
    color: transparent;
}
.start_school_title_second{
    font-size: 30px;
    color: #242D3C;
    margin-bottom: 25px;
}
.start_school_title_thrird{
    font-size: 16px;
    color: #242D3C;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.zajavka{
    background-color: #FFFFFF;
    width: 470px;
    height: 190px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 20px;
    position: relative;
}
.zajavka_title_text{
    font-size: 18px;
    font-weight: bold;
    background: #ffffff;


}
.places{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.places_text{
    margin-left: 10px;
    background: #ffffff;

}
.begin{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.begin_text{
    margin-left: 10px;
    background: #ffffff;
}
.zajavka_button{
    background-color: #186FF1;
    border: none;
    width: 195px;
    height: 40px;
    position: absolute;
    border-radius: 20px;
    right: 0;
    bottom: -20px;

}
.zajavka_button_text{
    background-color: #186FF1;
    font-size: 16px;
    color: #FFFFFF;
}
.zajavka_button_text::after{
    content: url(pic/button_pic.svg);
    margin-left: 5px;
}
.start_school_image{
    position: relative;
}
.start_school_image_top{
    background-color: #186FF1;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 10px 10px 0 0;
    bottom: 45px;
    left: -20px;
}
.start_school_image_bottom{
    background-color: #186FF1;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 0 0 10px 10px;
    bottom: 0px;
    left: -20px;
}
.presentation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

}
.presentation_in{
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.presentation_back_pic{
    position: absolute;
    bottom: 0;
    left: 500px;
}
.presentation_item{
    width: 670px;
    height: 380px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 20px 0 0 20px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    padding: 20px 0 20px 20px;
}
.presentation_item_title{
    background-color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(172.71deg, #3672F8 2.98%, #B01EFF 103.2%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 30px;
}
.presentation_item_text{
    background-color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 25px;
}
.presentation_item_text_2{
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}
.presentation_pic{
    border-radius: 20px;
}
.presentation_directions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.presentation_directions_left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 50%;
}
.presentation_directions_right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 40%;
}
.direction_item{
    font-size: 16px;
    color: #242D3C;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.direction_item::before{
    content: url(pic/Vector.svg);
    margin-right: 5px;
}
.opportunity{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opportunity_in{
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    justify-content: center;
    margin: 0 auto;

}
.opportunity_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    position: relative;
}
.opportunity_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.opportunity_text_title{
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(172.71deg, #3672F8 2.98%, #B01EFF 103.2%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 25px;
}
.opportunity_text_main{
    font-size: 22px;
    color: #242D3C;
    margin-bottom: 30px;
}
.opportunity_item_pic{
    border-radius: 10px;
}
.opportunity_item_in{
    width: 530px;
    height: 274px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 20px;
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    top: 250px;
}
.opportunity_item{
    display: flex;
    justify-content: center;
}
.opportunity_item_title{
    font-size: 24px;
    color: #242D3C;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    opacity: 0.8;
}
.opportunity_item_text{
    font-size: 16px;
    color: #242D3C;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    opacity: 0.8;
}
.opportunity_item_text::before{
    content: url(pic/Vector.svg);
    margin-right: 10px;
}