body, p {
    margin: 0;
}

.start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 168px;
    background: #FFFFFF;
}
.vector{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu {
    height: 60px;
    left: 0px;
    top: 127px;
    background: #3E505C;
}

.content-center {
    width: 1250px;
    margin: 0 auto;

}

.content-wide {
    width: 100%;
}
.nav {
    display: flex;

}

.nav > div {
    padding: 19px;
}

/*p ~ div {*/
/*    border: 1px red dashed;*/
/*}*/

/*.nav > div:first-child {*/
/*    background-color: aqua;*/
/*}*/

.menu content-wide {
    display: flex;
    flex-direction: row;
}
.greyline {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #3E505C;
    width: 100%;
    justify-content: space-around;

}
.fitem {
    background-color: #93C485;
    color: #FFFFFF;

}
.item {
    color: #FFFFFF;
    margin-left: 5px;
}
.copter {
    width: 100%;
    height: 500px;
    background-image: url(pic/copter.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}
.copterflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.title1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 48px;
    color: #FFFFFF;
}
.title2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.coptertext {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coptertext::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 100px;
    left: -10px;
    top: 0;
    background: #01A4D9;
}
.itempics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.itempictext{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}

.itempic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
/*----------------------------------copter----------------------------------------*/
.CopterForest_MaskGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.content-center {
    width: 1250px;
    margin: 0 auto;

}
.copterpic{
    width: 656px;
    height: 374px;
}
.maskpic{
    width: 656px;
    height: 374px;
}


.textOncopter {
    position: absolute;
    width: 600px;
    height: 50%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    top: 64px;
    left: 490px;
    padding: 30px;
    /*top: 50%;*/
    /*transform: translateX(-50%)*/
}
.textbefore {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.textbefore::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #01A4D9;

}

.textOncopter_title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #3A3A3A;
    text-align: left;
    margin: 0;
}
.textOncopter_in{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    margin: 0;
}


/*----------------------------------pics----------------------------------------*/
.titlefourpicstext{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #3A3A3A;
    margin-top: 60px;
    margin-bottom: 40px ;
}
.seehelic {
    display: flex;
    flex-direction: column;
}
.seehelic_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.seehelic_item{
    display: flex;
    flex-direction: column;
}

.fourpics {
    display: flex;
    flex-direction: column;
}
.pic {
    position: relative;
}
.datah {
    position: absolute;
    width: 83px;
    height: 34px;
    background-color: #01A4D9;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datahtext{
    color: #FFFFFF;

}
.four_pic_text_one{
    font-weight: bold;
    font-size: 17px;
    color: #2E3132;
    margin: 2px 0;
}
.four_pic_text_two{
    font-size: 16px;
    color: #2E3132;
    margin: 2px 0;
}
.four_pic_text_three{
    font-size: 17px;
    color: #01A4D9;
}
.four_pic_text_three::after{
    content: url(pic/Arrow.svg);
    margin-left: 10px;
    height: 15px;
    width: 10px;
    }

/*---------------------------------footer-----------------------------------------*/

.footer_fst{
    width: 100%;
    height: 116px;
    background-color: #3E505C;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.footer_final{
    width: 100%;
    height: 35px;
    background-color: #01A4D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
}
.footer_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.footer_tittle_top{
    font-size: 18px;
    color: #FFFFFF;
}
.footer_tittle_bottom{
    font-size: 16px;
    color: #FFFFFF;
}

.footer_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.footer_pic_in{
    width: 67px;
    height: 70px;
}
.footer_contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer_c_adresse{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}
.footer_aderesse_ric{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    color: #C7C7C7;
}
.footer_aderesse_text{
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 3px;
}
.footer_pic_text{
    margin-left: 5px;
}
.place{
    width: 15px;
    height: 20px;
}
.phone{
    width: 20px;
    height: 20px;
}
.email{
    width: 28px;
    height: 20px;
}
