$cb: blue
$cr: red



.figure
  width: 100px
  height: 200px
  background-color: green
  border: 1px solid black
  color: $cb


.figure2
  width: 100px
  height: 200px
  background-color: green
  border: 1px solid black
  color: $cr

.figure3
  width: 100px
  height: 200px
  background-color: green
  border: 1px solid black
  color: $cb
