.figure {
  width: 100px;
  height: 200px;
  background-color: green;
  border: 1px solid black;
  color: blue; }

.figure2 {
  width: 100px;
  height: 200px;
  background-color: green;
  border: 1px solid black;
  color: red; }

.figure3 {
  width: 100px;
  height: 200px;
  background-color: green;
  border: 1px solid black;
  color: blue; }

/*# sourceMappingURL=style-compiled.css.map */
