.boxes {
    position: relative;
    width: 600px;
    height: 600px;
    background: lightblue;
}


.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
}
#one{
    position: relative;
    top: 20px;
    left: 20px;
    background: red;
    z-index: 1;
}
#two{
    position: absolute;
    top: 20px;
    left: 0px;
    background: darkred;
}
#three {
    position: relative;
    top: 400px;
    left: 350px;
    background: green;
}
#four{
    position: relative;
    top: 20px;
    left: 20px;
    background: yellowgreen;
}
#five{
    position: relative;
    top: 250px;
    left: 158px;
    background: orangered;
}

.CopterForest_MaskGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.content-center {
    width: 1250px;
    margin: 0 auto;

}
.copterpic{
    width: 656px;
    height: 374px;
}
.maskpic{
    width: 656px;
    height: 374px;
}


.textOncopter {
    position: absolute;
    width: 600px;
    height: 50%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    top: 64px;
    left: 490px;
    padding: 30px;
    /*top: 50%;*/
    /*transform: translateX(-50%)*/
}
.textbefore {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.textbefore::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #01A4D9;

}

.textOncopter_title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #3A3A3A;
    text-align: left;
    margin: 0;
}
.textOncopter_in{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    margin: 0;
}


