body, p {
    margin: 0;
}
.header{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-blend-mode: multiply;
    background-image: url(pic/header-pic.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    flex-direction: column;
}
.header_in{
    width: 1145px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*position: relative;*/
    align-items: center;
}
.header_title{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header_title_in{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_title_in_text{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px;
}
.lawyer_protection{
    width: 1145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lawyer_protection_text_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}
.lawyer_protection_svg_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lawyar_protection_svg_item{
    margin: 10px;
}
.lawyer_protection_text{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.lawyer_protection_button{
    width: 200px;
    height: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-image: none;
    background: transparent;
    background-color: transparent;
    margin: 10px;
}
.lawyer_protection_button_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/*--------------------------------------------------------------------------*/

.services{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(pic/services-pic.jpg);
    background-size: cover;
    flex-direction: column;
}
.services_in{
    width: 1145px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.services_title_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #333333;
}
.services_svg_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.services_svg_item{
    margin: 10px;
}
.services_menu{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.services_menu_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.services_menu_item_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin-left: 5px;
}
.services_main_pic_text{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px
}
.services_main_text {
    justify-content: space-around;
}
.services_main_text_in{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 10px;
}
.services_main_button{
    width: 166px;
    height: 40px;
    border: 2px solid #BF5B20;
    box-sizing: border-box;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    background-image: none;
    background: transparent;
    background-color: transparent;
}
.services_main_button_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #BF5B20;
}

/*--------------------------------------------------------------------------*/
.lawyer{
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lawyer_in{
    width: 1145px;
    height: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lawyer_in_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    color: #333333;
}
.lawyer_in_text{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 10px;
}
.lawyer_in_experience_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px
}
.lawyer_in_experience_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lawyer_in_experience_item_number{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 24px;
    color: #BF5B20;
}
.lawyer_in_experience_item_value{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    color: #333333;
    margin-left: 5px;
}

/*--------------------------------------------------------------------------*/

.advantages{
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(pic/advantages-pic.jpg);
    background-size: cover;
}
.advantages_in{
    width: 1145px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.advantages_in_svg_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.advantages_in_svg_item{
    margin: 5px;
}
.advantages_in_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
}
.advantages_in_items{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.advantages_in_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advantages_in_item_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 5px;
}
.advantages_in_item_text{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

/*--------------------------------------------------------------------------*/

.certificates{
    width: 100%;
    height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.certificates_in{
    width: 1145px;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.certificates_in_item_text_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    color: #333333;
}
.certificates_in_item{
    display: flex;
    flex-wrap: wrap;
    height: 380px;
    align-content: space-between;
    width: 264px;
}
.certificates_in_item_text_main{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #8B8B8B;
}
.certificates_in_item_svg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.certificates_in_item_svg_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    color: #BF5B20;
    margin-left: 5px;
    margin-right: 5px;
}

.certificates_in_item_pic{
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

/*--------------------------------------------------------------------------*/

.contacts{
    width: 100%;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts_in{
    width: 1145px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contacts_in_title{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #333333;
}
.contacts_in_svg_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts_in_svg_item{
    margin: 10px;
}
.forms_map{
    width: 1145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form_name_phone{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.forms{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input_name_phone{
    width: 362px;
    height: 48px;
    border: 2px solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 15px;
}
.input_email{
    width: 754px;
    height: 48px;
    border: 2px solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 25px;
    padding: 15px;
}
.input_message{
    width: 754px;
    height: 150px;
    border: 2px solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 25px;
    resize: none;
    padding: 15px;
}
.forms_button{
    width: 166px;
    height: 40px;
    border: 2px solid #BF5B20;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
}
.forms_button_text{
    /*font-family: Playfair Display;*/
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.0357143em;
    color: #BF5B20;
}
.map{
    display: flex;
    flex-direction: column;
}
.map_contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.map_contact_text{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-left: 15px;
}

/*--------------------------------------------------------------------------*/

.footer{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
}
.footer_in{
    width: 1145px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer_menu, .footer_signs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer_menu_item{
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_romb{
    margin-right: 10px;
    margin-left: 10px;
}
.footer_sign{
    margin-left: 15px;
}