<template>
  <div class="example">
    <h1>User</h1>
    <h3>
      {{ $route.params.userId }}
    </h3>
    <router-link to="/">GO</router-link>
    <button @click="goHome(78)">
      Click go to home
    </button>
  </div>
</template>

<script>
export default {
  name: 'User',
  props: {

  },
  data () {
    return {

    }
  },
  methods: {
    goHome (userID = 120) {
      // this.$router.push('/example/test') // динамический переход
      // this.$router.go(-1) // относительный переход
      // this.$router.push(`/user/${userID}`) // переход по параметрическому состоянию
      this.$router.push({ name: 'super-puper' }) // переход по имени
    }
  },
  created () {
    console.log(this)
  }
}
</script>
