<template>
  <div id="app">
    <h3>
<!--      {{ $store.state.title }}-->
      {{ title }}
    </h3>
    <h3>
      {{ getCount }}
    </h3>
    <button @click="clickUpperCase">UpperCase</button>
    <button @click="addItem">Add item</button>
    <hr>
    X: {{ x }}
    <br>
    x^2 {{ getUniqueX(x) }}
    <br>
    x^2 {{ getUniqueX(x) }}
    <br>
    special {{ getSpecialValue }}
    <br>
    special {{ getSpecialValue }}
    <button @click="clickMe">Click me</button>
    {{ temp }}
    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TITLE } from './store/const'

export default {
  name: 'app',
  components: {

  },
  data () {
    return {
      x: 10,
      y: 78,
      z: 56,
      temp: 0,
      commit: this.$store.commit
    }
  },
  methods: {
    ...mapActions(['titleExample']),
    getUniqueX (value) {
      // console.log('getUniqueX')
      return value * value - 23
    },
    clickMe () {
      this.temp = this.getSpecialValue
    },
    clickUpperCase () {
      this.commit('toApperCase')
    },
    addItem () {
      // this.commit('addItem', 100500, { value: 100500, options: { x: 10, y: 20 } })
      // this.commit({
      //   type: 'addItem',
      //   x: 10,
      //   value: 10500,
      //   zz: 'hello zz'
      // })

      // this.$store.dispatch('titleExample')
      // this.$store.dispatch({ // передали в store
      //   type: 'updateCount',
      //   value: 67
      // })

      this.titleExample()
    }
  },
  computed: {
    ...mapGetters(['getCount']),
    ...mapGetters({
      title: GET_TITLE
    }),
    getSpecialValue () {
      console.log('getSpecialValue')
      return this.x - this.y * this.z
    }
    // getTitle () {         // в ...mapGetters(['getTitle']),
    //   return this.$store.state.title
    // }
    // getCount () {         // в ...mapGetters(['getCount']),
    //   return this.$store.getters.getCount
    // }
  },
  watch: {
    $route () { // показывает предыдущее и текущее состояние
      console.log(arguments)
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
