/*6. Change colors divs - lesson 27*/
/*.demo {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: gray;*/
/*    display: inline-block;*/
/*    margin: 10px;*/
/*}*/
/*.red{*/
/*    background-color: red;*/
/*}*/
/*.green{*/
/*    background-color: green;*/
/*}*/
/*.blue{*/
/*    background-color: blue;*/
/*}*/

/*7. Styles Dynamically without css (height weight) lesson 29*/
/*.demo {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: gray;*/
/*    display: inline-block;*/
/*    margin: 10px;*/
/*}*/












