<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="courses.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--    <script src="vue.js"></script>-->
</head>
<body>

<!--1.-->
<!--<div id="app">-->
<!--    <input type="text" v-on:input="changeTitle">-->
<!--    <p>{{ title }}</p>-->
<!--    <h1 v-once>{{ title }}</h1>-->
<!--    <p>{{ sayHello() }} - <a v-bind:href="link">Google</a> </p>-->
<!--    <p v-html="finishedLink"></p>-->
<!--</div>-->

<!--2. -->
<!--<div id="app">-->
<!--    <button v-on:click="increase(2, $event)">Click me</button>-->
<!--    <button v-on:click="counter++">Click me</button>-->
<!--    <p>{{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>-->
<!--    <p v-on:mousemove="updateCoordinates">-->
<!--        Coordinates: {{ x }} / {{ y }}-->
<!--        - <span v-on:mousemove.stop.prevent="">DEAD SPOT</span>-->
<!--    </p>-->
<!--    <input type="text" v-on:keyup.enter.space="alertMe">-->
<!--</div>-->

<!--3. lesson 21-->
<!--<div id="app">-->
<!--    <input type="text" v-model="name">-->
<!--    <p>{{ name }}</p>-->
<!--</div>-->

<!--4. lesson 23 make counter 0 2 sec-->
<!--<div id="app">-->
<!--    <button v-on:click="counter++">Increase</button>-->
<!--    <button v-on:click="counter&#45;&#45;">Decrease</button>-->
<!--    <button v-on:click="secondCounter++">Increase Second</button>-->
<!--    <p>Counter: {{ counter }} | {{ secondCounter }}</p>-->
<!--    <p>Result: {{ result() }} | {{ output }}</p>-->
<!--</div>-->

<!--5. lesson 24 v-on: === @, v-bind: === :-->
<!--<div id="app">-->
<!--    &lt;!&ndash;   <button v-on:click="changeLink">Click to Change Link</button>-->
<!--      <a v-bind:href="link">Link</a> &ndash;&gt;-->
<!--    <button @click="changeLink">Click to Change Link</button>-->
<!--    <a :href="link">Link</a>-->
<!--</div>-->

<!--<script src="courses.js"></script>-->


<!--6. Change colors divs - lesson 27-->
<!--<div id="app">-->
<!--    <div-->
<!--            class="demo"-->
<!--            @click="attachRed = !attachRed"-->
<!--            :class="divClasses"></div>-->
<!--    <div class="demo" :class="{red: attachRed}"></div>-->
<!--    <div class="demo" :class="[color, {red: attachRed}]"></div>-->
<!--    <hr>-->
<!--    <input type="text" v-model="color">-->
<!--</div>-->

<!--7. Styles Dynamically without css (height weight) lesson 29-->

<!--<div id="app">-->
<!--    <div class="demo" :style="{backgroundColor: color}"></div>-->
<!--    <div class="demo" :style="myStyle"></div>-->
<!--    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>-->
<!--    <input type="text" v-model="color">-->
<!--    <input type="text" v-model="width">-->
<!--</div>-->

<!--8. v-if v-else v-show lesson 34-->
<!--<div id="app">-->
<!--    <p v-if="show">You can see me! <span>Hello!</span></p>-->
<!--    <p v-else>Now you see me!</p>-->
<!--    <template v-if="show">-->
<!--        <h1>Heading</h1>-->
<!--        <p>Inside a template</p>-->
<!--    </template>-->
<!--    <p v-show="show">Do you also see me?</p>-->
<!--    <button @click="show = !show">Switch</button>-->
<!--</div>-->

<!--9. v-for [] {} :key lesson 39-->
<!--<div id="app">-->
<!--<ul>-->
<!--    <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>-->
<!--</ul>-->
<!--<button @click="ingredients.push('spices')">Add new</button>-->
<!--<hr>-->
<!--<ul>-->
<!--    <li v-for="person in persons">-->
<!--        <div v-for="(value, key, index) in person">{{key}}: {{ value }} ({{ index }})</div>-->
<!--    </li>-->
<!--</ul>-->
<!--<span v-for="n in 10">{{ n }}</span>-->
<!--<hr>-->
<!--<template v-for="(ingredient, index) in ingredients">-->
<!--    <h1>{{ ingredient }}</h1>-->
<!--    <p>{{ index }}</p>-->
<!--</template>-->

<!--</div>-->

<!-------------------------------INSTANCE------------------------------------>
<!--10 access to app1 ref lesson 63 -->
<!--<div id="app1">-->
<!--    <h1 ref="heading">{{ title }}</h1>-->
<!--    <button v-on:click="show" ref="myButton">Show Paragraph</button>-->
<!--    <p v-if="showParagraph">This is not always visible</p>-->
<!--</div>-->

<!--<div id="app2">-->
<!--    <h1>{{ title }}</h1>-->
<!--    <button @click="onChange">Change something in Vue 1</button>-->
<!--</div>-->

<!--11. Create and using component-->

<!--<div id="app1">-->
<!--    <h1 ref="heading">{{ title }}</h1>-->
<!--    <button v-on:click="show" ref="myButton">Show Paragraph</button>-->
<!--    <p v-if="showParagraph">This is not always visible</p>-->
<!--</div>-->

<!--<div id="app2">-->
<!--    <h1>{{ title }}</h1>-->
<!--    <button @click="onChange">Change something in Vue 1</button>-->
<!--    <hello></hello>                                                   USING COMPONENT-->
<!--    <hello></hello>-->
<!--</div>-->

<!--<div id="app3">-->

<!--</div>-->

<!--12. Life cycle Vue instance-->
<!--<div id="app">-->
<!--    <h1>{{ title }}</h1>-->
<!--    <button @click="title = 'Changed'">Update Title</button>-->
<!--    <button @click="destroy">Destroy</button>-->

<!--</div>-->

<!--13.Component-->

<!--<div id="app">-->
<!--    <my-cmp></my-cmp>-->
<!--    <hr>-->
<!--    <my-cmp></my-cmp>-->
<!--</div>-->

<!--14. Components different this for buttons lesson 84-->
<!--<div id="app">-->
<!--    <my-cmp></my-cmp>-->
<!--    <hr>-->
<!--    <my-cmp></my-cmp>-->
<!--</div>-->

<!--15. Registering component globally and locally lesson 85-->
<!--<div id="app">-->
<!--    <my-cmp></my-cmp>-->
<!--    <hr>-->
<!--    <my-cmp></my-cmp>-->
<!--</div>-->

<!--<div id="app2">-->
<!--    <my-cmp></my-cmp>-->
<!--    <hr>-->
<!--    <my-cmp></my-cmp>-->
<!--</div>-->




















<script src="courses.js"></script>

</body>
</html>