<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="courses_practice.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<!--practice 1-->

<!--Имя и возраст вывести на экран-->

<!--<div id="exercise">-->
<!--    <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>-->

<!--    <p>{{ age * 3}}</p>-->

<!--    <p>{{ random() }}</p>-->

<!--Картинку на экран-->

<!--    <div>-->
<!--        <img v-bind:src="image">-->
<!--    </div>-->

<!--    <div>-->
<!--        <input type="text" v-bind:value="name">-->
<!--    </div>-->

<!--</div>-->

<!--practice 2-->

<!--Сообщение при нажатии на кнопку-->

<!--    <div id="exercise">-->
<!--    click - alert -->
<!--    <div>-->
<!--        <button v-on:click="showAlert">Show Alert</button>-->
<!--    </div>-->

<!--Текст в инпуте вывести в р-->

<!--    <div>-->
<!--        <input type="text" v-on:keydown="value = $event.target.value">-->
<!--        <p>{{ value }}</p>-->
<!--    </div>-->

<!--Текст в инпуте вывести в р при нажатии Enter-->

<!--    <div>-->
<!--        <input type="text" v-on:keydown.enter="value = $event.target.value">-->
<!--        <p>{{ value }}</p>-->
<!--    </div>-->

<!--practice 3-->

<!--<div id="exercise">-->

<!--Когда счетчик дойдёт до результата = done вывести-->

<!--    <div>-->
<!--        <p>Curent Value: {{ value }}</p>-->
<!--        <button @click="value += 5">Add 5</button>-->
<!--        <button @click="value += 1">Add 1</button>-->
<!--        <p>{{ result }}</p>-->
<!--    </div>-->

<!--Через 5 секунд done счётчик обнулить-->

<!--    <div>-->
<!--        <input type="text">-->
<!--        <p>{{ value }}</p>-->
<!--    </div>-->

<!--</div>-->
<!--</div>-->

<!--practice 4 STYLES-->
<!--<div id="exercise">-->

<!--    4.1.Переключение классов с интервалом 1с при нажатии на кнопку-->
<!--     <div>-->
<!--    <button @click="startEffect">Start Effect</button>-->
<!--    <div id="effect" v-bind:class="effectClasses"></div>-->
<!--        </div>-->

<!--    4.2. Добавить классы элементу-->
<!--    <div v-bind:class="[float, 'blue', 'text-color']">I got no class :(-->
<!--    </div>-->

<!--    4.3. Установить класс инпутом-->
<!--    <div>-->
<!--        <input type="text" v-model="userClass">-->
<!--        <div v-bind:class="[{visible: true}, userClass]"></div>-->
<!--    </div>-->

<!--    4.4. Установить класс инпутом и если есть строка в другом импуте будет применятся класс-->
<!--    <div>-->
<!--        <input type="text" v-model="userClass">-->
<!--        <input type="text" v-model="isVisible">-->
<!--        <div v-bind:class="[{visible: isVisible}, userClass]"></div>-->
<!--    </div>-->

<!--    4.5. Поменять цвет инпутом-->
<!--    <div>-->
<!--        <input type="text" v-model="myStyle.backgroundColor">-->
<!--        <div v-bind:style="myStyle"></div>-->
<!--    </div>-->

<!--    4.6. Удлиннять div с интервалом 0.5с-->
<!--    <div>-->
<!--        <button v-on:click="startProgress">Start Progress</button>-->
<!--        <div v-bind:class="['progress-bar']" v-bind:style="progressBar"></div>-->
<!--    </div>-->

<!--</div>-->

<!--practice 5 ARRAY OBJECT-->
<!--<div id="exercise">-->

<!--5.1.При нажатии кнопки - показывать одну из надписей: v-if/v-else(removes from DOM) and v-show-->
<!--<div>-->
<!--    <button @click="isShown = !isShown">Toggle</button>-->
<!--    <p v-if="isShown">You either see me ...</p>-->
<!--    <p v-else>... or me</p>-->
<!--    <p v-show="isShown">You either see me ...</p>-->
<!--    <p v-show="!isShown">... or me</p>-->
<!--</div>-->

<!--5.2.Массив отобразить списком с индексом-->
<!--<ul>-->
<!--    <li v-for="(element, index) in array">{{ element }} - {{ index }}</li>-->
<!--</ul>-->

<!--5.3.Объект отобразить списком с ключём и индексом-->
<!--<ul>-->
<!--    <li v-for="(value, keyName, i) in myObject">{{ value }} - {{ keyName }} - {{ i }}</li>-->
<!--</ul>-->

<!--5.4.Значения ключей объекта отобразить списком. Если ключ - массив - вывести его элементы списком-->
<!--<ul>-->
<!--    <li v-for="value in testData">-->
<!--        <template v-if="Array.isArray(value)">-->
<!--            <div v-for="element in value">{{ element }}</div>-->
<!--        </template>-->
<!--        <template v-else>-->
<!--            {{ value }}-->
<!--        </template>-->
<!--    </li>-->
<!--</ul>-->

<!--</div>-->




















<script src="courses_practice.js"></script>

</body>
</html>