<template>
 <div id="app">
   <hr>
 <slot-example
   :title="'Slot Example'"
   @event-example="onEventHandler"
    >Renat1k
    <p>Paragraph</p>
    <input type="checkbox" v-model="isVisible">
    <p v-if="isVisible">{{ list }}</p>
    <hr>
    <template v-slot:super-puper>
      Super unique text
    </template>
    UNDER SUPER TEXT
    </slot-example>
    <button @click="isModalOpen = true">Open Modal</button>
   <Modal v-model="isModalOpen">
     <h3>Error</h3>
     Content
   </Modal>
<!--   <Modal :value="isModalOpen @input="isModalOpen = $event.target.value"></Modal> 18===19 -->

 </div>
</template>

<script>
import SlotExample from './SlotExample'
// import FormExample from './components/FormExample'
// import Header from './components/Header.vue'
import Modal from './Modal'

export default {
  components: {
    // appHeader: Header,
    // FormExample,
    SlotExample,
    Modal
  },
  data () {
    return {
      isVisible: false,
      list: [1, 2, 3, 4],
      isModalOpen: false
    }
  },
  methods: {
    onEventHandler (args) {
      console.log('args', args)
    }
  }
}
</script>

<style lang="css">

</style>
