<template>
  <div id="modal" v-if="value">
    <div class="bg">
      <div class="modal-content">
        <div class="close-btn" @click="onClose">X</div>
        <div class="transclude-content">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'modal',
  props: ['value'],
  data () {
    return {

    }
  },
  methods: {
    onClose () {
      this.$emit('input', false)
    }
  }
}
</script>

<style>
  .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    /*left: calc(50% - 200px)*/
    position: relative;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .transclude-content {
    padding: 15px;
  }
</style>
