<template>
  <div>
   <h3>{{ title }}</h3>
    <input type="text" v-model="slotName">
    <slot :name="slotName"></slot>
    <input type="checkbox" v-model="isSlotVisible">
<!--    <slot name="default"></slot>-->
<!--    <hr>-->
<!--    <slot name="super-puper"></slot>-->
  </div>
</template>

<script>
export default {
  props: ['title'],
  data () {
    return {
      slotName: '',
      isSlotVisible: true,
      list: [5, 6, 7, 8]
    }
  },
  created () {
    console.log(this)
    setTimeout(() => {
      this.$emit('event-example', Math.random())
    }, 2000)
  }
}
</script>

<style>

</style>
